<br/>
<div class="container">
    <div class="row">
        <div class="col-6">
            Mi Hotel
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">nombre Hotel</h5>
                    <p class="card-text">descripcion</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">otros datos</li>
                    <li class="list-group-item">otros datos</li>
                    <li class="list-group-item">otros datos</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                Reservaciones
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button type="button" class="btn btn-success" routerLink="/factura">Facturar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-success" routerLink="/disponibles">Habitaciones Disponibles</button>
            </div>
        </div>
    </div>
</div>
