<br/>
<h1 style="text-align: center;">Reservacion</h1>

<div class="container-sm">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <br/>
            <br/>
            <br/>
            <form>
                <div class="mb-3">
                    <label for="exampleInputFechaReservada1" class="form-label" style="font-size: 160%;">Fecha Reservada</label>
                    <input type="fechaReservada" class="form-control" id="exampleInputFechaReservada1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputFechaFinal1" class="form-label" style="font-size: 160%;">Fecha Final</label>
                    <input type="fechaFinal" class="form-control" id="exampleInputFechaFinal1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputNumPersonas1" class="form-label" style="font-size: 160%;">Numero de Personas</label>
                    <input type="numPersonas" class="form-control" id="exampleInputNumPersonas1" aria-describedby="emailHelp">
                </div>
                <br/>
                <button type="submit" class="btn btn-danger" style="font-size: 120%;" routerLink="/principal">Reservar</button>
            </form>
        </div>
    </div>
</div>
